@import '../functions/font-sizing';

// A helper for setting an appropriate font size and line-height for it.
@mixin font-size($units, $size: 'medium') {
  $display: map-get($displays, $size);
  $unit:    round(map-get($display, 'unit'));
  $lh:      $unit;

  @while $lh < font-scale($units, $size) {
    $lh: $lh + $unit;
  }

  font-size: font-scale($units, $size);
  line-height: $lh;
}
