// This function outputs a unit suitable for using in proportional paddings
// and margins.
@function font-scale($x, $size: 'medium') {
  $display:     map-get($displays, $size);
  $scale:       map-get($display, 'scale');
  $font-size:   map-get($display, 'font-size');
  @return round($font-size * pow($scale, $x));
}

@function spacing($x, $size: 'medium') {
  $display: map-get($displays, $size);
  @return round(map-get($display, 'unit') * $x);
}

@function columns($x, $size: 'medium') {
  @return spacing(4, $size) * $x;
}
