
// A power calculation function. See:
// http://sassmeister.com/gist/10620fefd1ed75189f1b
@function pow($x, $y) {
  $ret: 1;

  @if $y > 0 {
    @for $i from 1 through $y {
        $ret: $ret * $x;
    }
  }

  @else {
    @for $i from $y to 0 {
        $ret: $ret / $x;
    }
  }

  @return $ret;
}
// This function outputs a unit suitable for using in proportional paddings
// and margins.
@function font-scale($x, $size: 'medium') {
  $display:     map-get($displays, $size);
  $scale:       map-get($display, 'scale');
  $font-size:   map-get($display, 'font-size');
  @return round($font-size * pow($scale, $x));
}

// This replaces direct uses of $spacing (which we had until recently), like
// $spacing*3 and so on. From now on, use spacing(3).
@function spacing($x, $size: 'medium') {
  $display: map-get($displays, $size);
  @return round(map-get($display, 'unit') * $x);
}

@function columns($x, $size: 'medium') {
  @return spacing(4, $size) * $x;
}


// A helper for setting an appropriate font size and line-height for it.
@mixin font-size($units, $size: 'medium') {
  $display: map-get($displays, $size);
  $unit:    round(map-get($display, 'unit'));
  $lh:      $unit;

  @while $lh < font-scale($units, $size) {
    $lh: $lh + $unit;
  }

  font-size: font-scale($units, $size);
  line-height: $lh;
}
