<div class="checklist-item-wrapper" ng-class="{completed: item.completed}">
  <div class="checklist-item-toggler">
    <input type="checkbox" ng-model="item.completed"/>
  </div>
  <div class="checklist-text-wrapper">
    <div ng-if="!editable">
      <div class="checklist-item-title">{{item.title}}</div>
      <div class="checklist-item-text">{{item.text}}</div>
    </div>
    <div ng-if="editable">
      <div class="input-group">
        <input type="text" ng-model="item.title" />
      </div>
      <div class="input-group">
        <textarea ng-model="item.text"></textarea>
      </div>
    <div class="checklist-item-actions">
      <button class="remove-button" ng-click="remove(item)">Remove</button>
    </div>
  </div>
</div>
