$body-bg-colour: colour('light-grey');

body {
  background: $body-bg-colour;
}

header {
  text-align: center;
  .app-title{
    margin-bottom: spacing(1);
    font-size: font-scale(3);
  }
  .app-sub-title {
    font-size: font-scale(2);
  }
}
