@import 'variables';
@import 'mixins/media-queries';
@import 'mixins/button';

$checklist-bg-colour: colour('white', 1);
$empty-list-text-colour: colour('dark-grey', 1);
$header-bg-colour: colour('blue');
$footer-bg-colour: colour('light-grey', 1);
$standard-padding: spacing(.5);
$input-bg: white;
$input-text: colour('dark-grey', -3);
$label-colour: colour('white',3);

.checklist {
  margin: 0 auto;
  max-width: 90vw;
  border: 1px solid colour('light-grey', -2);
  text-align: center;
  background: $checklist-bg-colour;
  font-size: font-scale(1);

  @include mq($smartphone-max-width) {
    max-width: 70vw;
  }


  header {
    padding: $standard-padding;
    background: $header-bg-colour;

    label {
      color:$label-colour;
    }

    input[type="text"],
    textarea {
      border: 1px solid transparent;
      background: rgba($input-bg,.3);
      color: $input-bg;

      &:focus {
        border: 1px solid white;
        color: $input-text;
        background: rgba($input-bg, .6);
      }
    }

    .button {
      @include button('green');
      margin-top: spacing(.25);
      @include mq($tablet-max-width) {
        margin: spacing(1) spacing(3) 0;
      }
    }
  }

  .checklist-wrapper {
    margin: spacing(.25) 0;

    @include mq($smartphone-max-width) {
      margin: spacing(2.5) 0;
    }

    .remove-all-button{
      @include button('dark-grey');
      margin-top: spacing(.25);
    }
  }

  .checklist-empty {
    color: $empty-list-text-colour;
    font-style: italic;
  }

  footer {
    padding: $standard-padding;
    background: $footer-bg-colour;

    .button {
      @include button('green');
    }

    .save-list {
      @include button('accent-blue');
    }

    .edit-list {
      @include button('red')
    }

    .new-list {
      @include button('green');
    }
  }
}
