@import 'variables';
@import 'mixins/media-queries';

$border-colour: colour('light-grey', -2);

.checklist-item-wrapper {
  display: flex;
  width: 90%;
  padding: spacing(.5);
  border-bottom: $border-colour;

  @include mq($smartphone-max-width) {
    padding: spacing(1)
  }
}
