<div class="checklist-container">
  <header>
    <div class="input-group">
      <input type="text" ng-model="main.newItem.title"/>
      <textarea ng-model="main.newItem.text"></textarea>
      <button class="button add-item" ng-click="main.addItem()">Add</button>
    </div>
  </header>
  <section>
    <div class="checklist-wrapper">
      <checklist-item
        item="item"
        ng-repeat="item in main.items"
        editable="main.editable"
        >
      </checklist-item>
      <span class="checklist-empty" ng-if="!main.items.length">
        Get started with a checklist!
      </span>
    </div>
  </section>
  <footer>
    <span class="checklist-total" ng-if="main.items.length">
      {{main.items.length}} items
    </span>
    <button
      class="button save-list"
      ng-show="main.items.length"
      ng-click="main.saveItems()">Save</button>
    <button
      ng-click="main.toggleEditable()"
      class="button edit-list">Edit</button>
  </footer>
</div>
